<%= render 'shared/component_wrapper', component: component do %>
  <div class="border-2 border-dashed border-slate-300 rounded-xl p-8 min-h-32 bg-gradient-to-br from-slate-50 to-slate-100">
    <p class="text-slate-500 text-center font-medium">Container - drag components here</p>
  </div>
<% end %>
