<div class="page-component" data-type="header">
  <%= render 'shared/component_controls' %>
  <div class="p-6">
    <h1 class="text-4xl font-bold text-slate-800 leading-tight">Your Heading Here</h1>
  </div>
</div>
