<div class="page-component" data-type="paragraph">
  <%= render 'shared/component_controls' %>
  <div class="p-6">
    <p class="text-lg text-slate-700 leading-relaxed">This is example text. Click 'Edit' to change it.</p>
  </div>
</div>
