<div class="button-component">
  <a href="<%= page_component.content['link'] || '#' %>" 
     class="inline-block bg-blue-500 text-white px-6 py-2 rounded hover:bg-blue-600">
    <%= page_component.content['text'] || 'Klik her' %>
  </a>
</div>
